.book-detail {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 50px 0px;
}

.book-detail img {
  margin: 20px 50px;
  width: 25%;
  height: 25%;
  object-fit: cover;
  border: 1px solid grey;
}

.detail {
  margin: 50px;
}

.title,
.author,
.description {
  margin: 20px;
}

.title {
  font-size: 30px;
  font-weight: 700;
}

.author {
  font-size: 20px;
  font-weight: 700;
}

.description {
  text-align: justify;
}

.button-container button {
  background-color: #23395bff;
  color: #cbf7edff;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  padding: 10px 20px;
  margin: 10px 5px;
  width: 130px;
  font-family: "Roboto Slab", serif;
}

.button-container button:hover,
.reviews button:hover,
.review-button:hover {
  color: #23395bff;
  background-color: #cbf7edff;
}

.button-container a {
  text-decoration: none;
  color: #f9f9f9;
}

.review-title {
  font-size: 40px;
  font-weight: 700;
  margin-left: 10%;
}


.review-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews {
  align-self: flex-start;
  margin: 15px 10%;
  padding: 20px 30px;
  border: 2px solid #8ea8c3ff;
  border-radius: 5px;
}

.reviews p {
  margin: 15px 3%;
  text-align: justify;
}

.reviews button {
  background-color: #23395bff;
  color: #cbf7edff;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  padding: 10px 10px;
  margin: 10px 5px;
  width: 80px;
  font-family: "Roboto Slab", serif;
}

.review-button {
  background-color: #23395bff;
  color: #cbf7edff;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  padding: 10px 20px;
  margin: 10px 50px;
  width: 140px;
  font-family: "Roboto Slab", serif;
}

.review-edit-delete {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-titles {
  text-align: left;
  margin-left: 30px;
}

.review-titles h3 {
  font-size: 20px;
}

.review-titles p {
  font-weight: 500;
  color: #23395bff;
}

.no-reviews {
  text-align: left;
  margin-left: 12%;
}

@media screen and (max-width: 800px) {
  .book-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .book-detail img {
    align-self: center;
    margin: 20px;
    width: 50%;
  }

  .detail {
    text-align: center;
  }

  .review-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .review-title,
  .review-edit-delete h3 {
    margin-left: 0px;
  }

  .review-edit-delete {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
